  <section class="postbox-title">
  <div class = "postbox-title">
    {{!-- {{> user-info}} --}}
    <h2>Welcome{{user.name}}</h2>
    <h3 class ='email'>Email:{{user.email}}</h3>
  </div>
  </section>
<section class="postbox">
  <div class = "column">
    <h4>Create New Post</h4>

    <form class="newPost-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="description">Text</label>
        <textarea id="dashdescription" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary newpost-btn">Create</button>
    </form>
  </div>

</section>

{{#if posts.length}}
<section>
  <h5 class="allpost">All Posts</h5>
  <ol>
    {{#each posts as |post|}}
    <ul>
  
      {{>post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </ul>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-post.js"></script>